/// Default breakpoints for palm, palm-and-up, lap, lap-and-up, portable, portable-and-up, desk, desk-and-up, and retina. Predefine this map to override.
/// @group px-helpers-design:variables:style
/// @type List [default]
/// @todo n/a
$breakpoints: (
    // backwards compatible
    "palm"             "screen and (max-width: 44.9375em)",
    "lap"              "screen and (min-width: 45em) and (max-width: 63.9375em)",
    "portable"         "screen and (max-width: 63.9375em)",
    "desk"             "screen and (min-width: 64em)",
    // recommended
    "palm-and-up"      "screen and (min-width: 44.9375em)",
    "lap-and-up"       "screen and (min-width: 45em)",
    "portable-and-up"  "screen and (min-width: 63.9375em)",
    "desk-and-up"      "screen and (min-width: 64em)",
    "retina"           "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;
// @NOTE: The desk-and-up breakpoint is the same as desk, but is useful to keep
// the same naming convention for SIZE-and-up that the other breakpoints use
// when defining a min-width query

/// @name media-query
/// @output Generates whole media queries from the breakpoints defined above
/// @example
///   .foo {
//      color: green;
//      @include media-query(palm-and-up) {
//        color: red;
//      }
//    }
@mixin media-query($mq) {
    $breakpoint-found: false;
    // Loop through the list of breakpoints we’ve provided in our settings file.
    @each $breakpoint in $breakpoints {
        // Grab the alias and the condition from their respective locations in
        // the list.
        $alias:     nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);
        // If the media query we’ve specified has an alias and a condition...
        @if $mq == $alias and $condition {
            // ...tell the mixin that we’ve found it...
            $breakpoint-found: true;
            // ...and spit it out here.
            @media #{$condition} {
                @content;
            }
        }
    }
    // If the user specifies a non-exitent alias, send them a warning.
    @if $breakpoint-found == false{
        @warn "Oops! Breakpoint ‘#{$mq}’ does not exist."
    }
}

/// @name accessibility
/// @output Properties and values for hiding elements accessibly
/// @example
///   position: absolute !important;
///   overflow: hidden !important;
///   width: 1px !important;
///   height: 1px !important;
///   margin: -1px !important;
///   border: 0 !important;
///   padding: 0 !important;
///   clip: rect(0 0 0 0) !important;

@mixin accessibility {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
}
